# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env

# pycache
__pycache__

# Test Cases
backend/HintsTest.py
backend/ImageToArrayTest.py
backend/SudokuSolutionsTest.py
backend/CreateNewBoardTest.py

# Media Creation
frontend/src/assets/backgrounds/Adobe After Effects Auto-Save
frontend/src/assets/backgrounds/Untitled Project.aep