.scanner-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 1rem 0;
}

.btn-sys-upload {
    margin-left: 10px;
}

.btn-camera-upload {

}

@media screen and (max-width: 425px) {
    .scanner-buttons {
        flex-direction: column;
        justify-content: center;
    }
    .btn-sys-upload {
        margin-left: -20px;
    }
    .btn-camera-upload {
        margin-left: -15px;
    }
}